<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EMI</display-name>
  <servlet>
    <servlet-name>EMIControl</servlet-name>
    <servlet-class>com.emi.EMIController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EMIControl</servlet-name>
    <url-pattern>/getEmiList</url-pattern>
  </servlet-mapping>
</web-app>